@{
    ViewData["Title"] = "Unauthorized";
}

<div class="panel mb25">
    <div class="panel-heading">
        <span>Unauthorized</span>
    </div>
    <div class="panel-body">
        <p>You are not authorized to perform this operation.</p>
    </div>
</div>

