# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

artifacts/
src\SwiftCourier\project.lock.json

src/SwiftCourier.Web/appsettings.json
src/SwiftCourier.Web/appsettings.json
/.vs/*
/src/SwiftCourier.Web/obj/*
*.rsp
*.pdb
/src/SwiftCourier.Web/bin/*
.vs/config/applicationhost.config
*.ps1
/*.xproj.user
/db.txt
src/SwiftCourier.Web/bin/Debug/netcoreapp1.0/SwiftCourier.Web.dll
src/SwiftCourier.Web/Properties/PublishProfiles/uniononeground - Web Deploy.pubxml
src/SwiftCourier.Web/Properties/PublishProfiles/uniononeground - Web Deploy.pubxml.user
src/SwiftCourier.Web/SwiftCourier.Web.xproj.user
src/SwiftCourier.Web/appsettings.json