@model SwiftCourier.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create Booking";
}

<div class="panel mb25">
    <div class="panel-heading border">
        Create Billing
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form asp-action="Create" class="form-horizontal bordered-group" role="form">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CustomerId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="CustomerId" asp-items="@((IEnumerable<SelectListItem>)ViewData["CustomerId"])" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PickupAddress" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="PickupAddress" class="form-control" rows="5" cols="300"></textarea>
                            <span asp-validation-for="PickupAddress" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PickupContactNumber" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="PickupContactNumber" class="form-control" />
                            <span asp-validation-for="PickupContactNumber" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConsigneeName" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="ConsigneeName" class="form-control" />
                            <span asp-validation-for="ConsigneeName" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConsigneeAddress" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <textarea asp-for="ConsigneeAddress" class="form-control" rows="5" cols="300"></textarea>
                            <span asp-validation-for="ConsigneeAddress" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConsigneeContactNumber" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="ConsigneeContactNumber" class="form-control" />
                            <span asp-validation-for="ConsigneeContactNumber" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServiceId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="ServiceId" asp-items="@((IEnumerable<SelectListItem>)ViewData["ServiceId"])" class="form-control">
                                <option>Select Service</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Invoice.ServiceCost" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Invoice.ServiceCost" class="form-control" />
                            <span asp-validation-for="Invoice.ServiceCost" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Invoice.GCT" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Invoice.GCT" class="form-control" />
                            <span asp-validation-for="Invoice.GCT" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Invoice.Total" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Invoice.Total" class="form-control" />
                            <span asp-validation-for="Invoice.Total" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="BillingMode" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="BillingMode" asp-items="Html.GetEnumSelectList(typeof(BillingMode))" class="form-control"></select>
                            <span asp-validation-for="BillingMode" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ServiceId').on('change', function (e) {
                var serviceId = $(this).val();
                if(serviceId)
                {
                    $.ajax({
                        cache: false,
                        dataType: 'json',
                        type: 'GET',
                        url: '/api/service/' + serviceId,
                        success: function (data) {
                            if (data) {
                                $('#Invoice_ServiceCost').val(data.Cost);
                                $('#Invoice_GCT').val(data.Cost * 0.165);
                                $('#Invoice_Total').val(data.Cost);
                            } else {
                                $('#Invoice_ServiceCost').val('');
                                $('#Invoice_GCT').val('');
                                $('#Invoice_Total').val('');
                            }
                        },
                        error: function () {
                            $('#Invoice_ServiceCost').val('');
                            $('#Invoice_GCT').val('');
                            $('#Invoice_Total').val('');
                        }
                    });
                }
            });
        });
    </script>
}

@section NavBarText {
    <text>Bookings</text>
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Bookings" asp-action="Index">Bookings</a>
        </li>
        <li class="active ng-binding">
            <a href="javascript:;">Create</a>
        </li>
    </ol>
}

