@model SwiftCourier.ViewModels.CreateUserViewModel

@{
    ViewData["Title"] = "Create User";
}

<div class="panel mb25">
    <div class="panel-heading border">
        Create User
    </div>
    <div class="panel-body">
        <div class="row no-margin">
            <div class="col-lg-12">
                <form asp-action="Create" class="form-horizontal bordered-group" role="form">
                    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section NavBarText {
    <text>Users</text>
}

@section Breadcrumbs {
    <ol class="breadcrumb">
        <li>
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a asp-controller="Users" asp-action="Index">Users</a>
        </li>
        <li class="active ng-binding">
            <a href="javascript:;">Create</a>
        </li>
    </ol>
}